@page
@{
    ViewData["Title"] = "Inventory Issue Allocation List";
}

<div id="app" v-cloak>
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div id="MainGrid" ref="mainGridRef"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/FrontEnd/Pages/InventoryIssueAllocations/InventoryIssueAllocationList.cshtml.js"></script>
}
